<div id="<%= dom_id branch %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= branch.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= branch.address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= branch.status %>
  </p>
</div>
