<div id="<%= dom_id position %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= position.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Unique:</strong>
    <%= position.unique %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Department:</strong>
    <%= position.department_id %>
  </p>
</div>
