<div id="<%= dom_id department %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= department.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= department.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Branch:</strong>
    <%= department.branch_id %>
  </p>
</div>
